# ignore macos system files
.DS_Store
__pycache__/
.vscode/
*.egg-info/

# ignore private data
api_keys.yaml
# ignore datasets (may change in future)
*.xlsx

# hiding data for now
*.csv

# ignoring resources dir for now
resources/
.png