# ignore macos system files
.DS_Store
__pycache__/
.vscode/
*.egg-info/

# ignoring private data (held locally)
api_keys.yaml
# ignoring local versions of datasets
data/
*.xlsx
*.csv

# ignoring local versions of resources/outputs
resources/
figures/
*.png
*.jpg

# virtual environments
venv/