appnope==0.1.4
asttokens==3.0.0
branca==0.8.2
Brotli==1.1.0
calcification_meta_analysis==0.0.1
Cartopy==0.25.0
cbsyst==0.4.9
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
folium==0.20.0
fonttools==4.60.1
future==1.0.0
geopandas==1.1.1
googlemaps==4.10.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.0
ipykernel==7.0.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyterlab_widgets==3.0.15
Kgen==1.0.1
kiwisolver==1.4.9
mapclassify==2.10.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.1.7
munkres==1.1.4
nest_asyncio==1.6.0
networkx==3.5
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathlib==1.0.1
patsy==1.0.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pip==25.2
platformdirs==4.5.0
prompt_toolkit==3.0.52
psutil==7.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.2
pymyami==2.1.1
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.2
pyshp==3.0.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.32.5
rpy2==3.6.4
rpy2-rinterface==3.6.3
rpy2-robjects==3.6.3
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
stack_data==0.6.3
statsmodels==0.14.5
threadpoolctl==3.6.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uncertainties==3.2.3
unicodedata2==16.0.0
urllib3==2.5.0
wcwidth==0.2.14
widgetsnbextension==4.0.14
xyzservices==2025.4.0
zipp==3.23.0
zstandard==0.25.0


